@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

:root{
    --main:#ff0019;
    --border: 0.1rem solid rgba(0,0,0,0.5);
    --box_shadow: 0 0.5rem 1rem rgba(0,0,0,0.8);
}

html{
    font-size: 62.5% ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    width: 10px;
}

html::-webkit-scrollbar-thumb{
    background: var(--main);
}

html::-webkit-scrollbar-track{
    background: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Besley", serif;
    outline: none;
    border: none;
    transition: linear 0.2s ;
    text-decoration: none;
}

*::selection{
    background: var(--main);
    color:#000;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background: var(--main);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 0.5rem;
    font-weight: 500;
    text-align: center;
}
/*   Navbar/header start*/
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    z-index: 10000;
    background-color: #fff;
    box-shadow: var(--box_shadow);
}

 header .logo{
    font-size: 2.5rem;
    color:#000 ;
    font-weight: 700;
}

header .logo span{
    color: var(--main);
}

#MenuBtn{
    font-size: 2.5rem;
    color:var(--main);
    cursor: pointer;
    display: none;
}

header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: #000;
}

header .navbar a:hover{
    color: var(--main);
}

#LoginBtn .btn{
    margin-top: 0;
}

#LoginBtn i {
    font-size: 2.5rem;
    color: var(--main);
    display: none;
}

/* Login form Container start */
.LoginFormContainer{
    position: fixed;
    top: -105%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:  center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;

}

.LoginFormContainer.active{
    top: 0;
}

#CloseLoginForm{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem ;
    font-size: 5rem;
    color: #000;
    cursor: pointer;
    z-index: 100000;
}

.LoginFormContainer form{
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    width: 40rem;
    border-radius: 0.5rem;
    box-shadow: var(--box_shadow);
    border: var(--border);
}

.LoginFormContainer form h3 {
    font-size: 2.5rem;
    color: #000;
    padding-bottom: 1rem;
}

.LoginFormContainer form .box{
    margin: 0.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color: #000;
    text-transform: none;
    border: var(--border);
    padding: 1rem 1.2rem;
    border-radius: 0.5rem;
}

.LoginFormContainer form p{
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main);
}

.LoginFormContainer form p a {
    color: var(--main);
    text-decoration: underline;
}

.LoginFormContainer form .buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.LoginFormContainer form .btn{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

/* Login form Container end */
/*   Navbar/header end*/


/* Home section start */
.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h3 {
    font-size: 7.5vw;
    text-transform: uppercase;
}

.home img{
    width: 100%;
    margin-top: -20rem;
}
/* Home section end */

/*  Icon Container start*/
.IconContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr) );
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #eee;
    margin-bottom: 200px;
}

.IconContainer .icons{
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box_shadow);
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 2rem;
    cursor: pointer;
}

.IconContainer .icons i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    color: #000;
    background: #ccc;
    text-align: center;
    border-radius: 50%;
}

.IconContainer .icons .content h3 {
    font-size: 2.5rem;
    color: var(--main);
}

.IconContainer .icons .content p{
    font-size: 1.5rem;
    color: #444;
}

.IconContainer .icons:hover{
    background: #000;
}

.IconContainer .icons:hover i {
    background: var(--main) ;
    color: #fff;
}

.IconContainer .icons:hover h3,
.IconContainer .icons:hover p{
    color: #fff;
}
/* Icon Container end */

/* Vehicles section start */
.heading {
    padding-top: 2rem;
    font-size: 4.5rem;
    text-align: center;
  }

  .heading span{
    color: var(--main);
  }

.vehicles .VehiclesSlider{
    padding-bottom: 5rem;
}

.vehicles .VehiclesSlider .box img{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    transform: scale(0.8);
}

.vehicles .VehiclesSlider .box {
    text-align: center;
}

.vehicles .VehiclesSlider .box .content{
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .VehiclesSlider .swiper-slide-active .content {
    transform: scale(1);
}

.vehicles .VehiclesSlider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box_shadow);
    border: var(--border);
}

.vehicles .VehiclesSlider .box .content h3 {
    font-size: 2.5rem;
    color: #000;
}

.vehicles .VehiclesSlider .box .content .price{
    font-size: 2.2rem;
    color: var(--main);
    padding: 1rem 0;
    font-weight: bolder ;
}

.vehicles .VehiclesSlider .box .content .price span{
    color: #444;
    font-size: 1.5rem;
    font-weight: normal;
}

.vehicles .VehiclesSlider .box .content p {
    font-size: 1.6rem;
    color: #444;
    padding: 1rem 0 ;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.vehicles .VehiclesSlider .box .content span {
font-size: 1rem;
color: var(--main);
padding: 0 0.5rem;
}

.swiperPagination-bullet-active{
    background: var(--main);
}
/* Vehicles section end */


/* feature section start */
.feature{
margin-bottom: 200px;
}

.feature .featureSlider{
    padding: 1rem;
    padding-bottom: 4rem;
}

.feature .featureSlider .box{
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box_shadow);
    border: var(--border);
    border-radius: 0.5rem;

}

.feature .featureSlider .box img{
    height: 15rem;
}

.feature .featureSlider .box:hover img {
    transform: scale(1.09); 
}

.feature .featureSlider .box .content h3{
    font-size: 2.2rem;
    color: #000;
}

.feature .featureSlider .box .content .stars{
    padding: 1rem 0;
}

.feature .featureSlider .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main);
}

.feature .featureSlider .box .content .price{
    color: #000;
    font-size: 2.5rem;
}
/* feature section end */


/*  services sectiob start  */
.services{
    margin-bottom: 200px;
}

.services .boxContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.services .boxContainer .box{
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box_shadow);
    border: var(--border);
    text-align: center;
    cursor: pointer;
}

.services .box:hover{
    transform: scale(1.01);
}

.services .boxContainer i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background: var(--main);
    color: #fff;
}

.services .boxContainer .box h3 {
    font-size: 2.2rem;
}

.services .boxContainer .box p {
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #444;
}

.services .reviewSlider .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box_shadow);
    border: var(--border);
}

/*  services sectiob end */

/* review section start  */
.review{
    margin-bottom: 200px;
}

.review .ReviewSlider {
    padding-bottom: 3rem;
}

.review .ReviewSlider .box {
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
    opacity: 0.4;
    transform: scale(1.09);
}

.review .ReviewSlider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .ReviewSlider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box_shadow);
    border: var(--border);
}

.review .ReviewSlider .box .content p {
    color: #444;
    font-size: 1.4rem;
    padding: 1rem 0;
}

.review .ReviewSlider .box .content h3{
    color: #000;
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
}

.review .ReviewSlider .box .content .services i {
    font-size: 1.7rem;
    color: var(--main);
}
/* review section end */

/* contact section start  */

.contact {
    margin-bottom: 200px;
  }
  .contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  .contact iframe {
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    box-shadow: var(--box_shadow);
    border: var(--border);
    border-radius: 0.5rem;
  }
  .contact form {
    flex: 1 1 42rem;
    padding: 2rem;
    box-shadow: var(--box_shadow);
    border: var(--border);
    text-align: center;
    border-radius: 0.5rem;
  }
  .contact h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .contact form .box {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    text-transform: none;
    border: var(--border);
    font-size: 1.6rem;
    margin: 0.7rem 0;
  }
  .contact form textarea {
    resize: none;
    height: 18rem;
  }
/* contact section end  */


/* footer section start */

footer{
    background: var(--main);
    padding: 1rem;
    text-align: center;
}

footer a {
    color: #fff;
    font-size: 2rem;
}
/* footer section end */

/* Theme toggle */
.themeToggle {
    position: fixed;
    top: 10rem;
    right: -20rem;
    background: #000;
    text-align: center;
    width: 20rem;
    z-index: 1000;
  }
  .themeToggle.active {
    right: 0;
  }
  .themeToggle h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .themeToggle .buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }
  .themeToggle .themeBtn {
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 50%;
  }
  .themeToggle .ToggleBtn {
    position: absolute;
    top: 0;
    left: -5.9rem;
    padding: 1.3rem 1.5rem;
    background: #000;
    cursor: pointer;
  }
  .themeToggle .ToggleBtn i {
    color: #fff;
    font-size: 3rem;
    animation: spin 1.5s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
  }

/* media query */
@media(max-width: 991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media(max-width: 768px) {
    #MenuBtn {
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.5);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .fa-times{
        transform: rotate(360deg);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

    #LoginBtn .btn{
        display: none;
    }

    #LoginBtn i {
        display: block;
    }

    .home img{
        margin-top: -10rem;
    }
}

@media(max-width: 450px) {
    html{
        font-size: 50%;
    }

    .home img{
        margin-top: -10rem;
    }
}